/* You can add global styles to this file, and also import other style files */

.body {
  margin-top: 50px;
  background: #ecf0f3;
  overflow: hidden;
  font-family: poppins;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
